footer {
    width:100vw;
    padding: 30px 0;
    font-size: 1rem;

    @include flex-box(display, flex);
    @include flex-box(justify-content, center);

    a {
        margin-left: 5px;
        text-decoration: none;
        color: lighten(black, 50%);
        transition:color 0.2s linear;
        
        &:hover {
            color: black;
        }
    }

    @include small {
        font-size: 0.8rem;
    }
}