.contact-form {
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:30;
    background:rgba(black,0.8);

    @include flex-box(display, flex);
    @include flex-box(flex-direction, column);
    @include flex-box(justify-content, center);
    @include flex-box(align-items, center);

    .form-section {
        &:not(:nth-child(3)){
            margin:50px;
        }
        input{
            width: 300px;
            margin: 0 30px;
            background: transparent;
            border:none;
            border-bottom: 1px solid white;
            padding-left: 10px;

            font-size: 1.2rem;
            color:white;

            &[type="submit"]{
                font-size: 2rem;
                font-family: "Arial Black";
                color:rgba(white, 0.5) !important;
                border:none;
                cursor: pointer;

                transition:color 0.2s linear;
                &:hover{
                    color:rgba(white, 1) !important;
                    transition:color 0.2s linear;
                }
            }
            
            &::placeholder {
                color:rgba(white, 0.3);
                padding-left: 10px;
            }
        }
    }
    
    textarea {
        width:660px;
        max-width:660px;
        height:250px;
        padding: 10px;
        font-size: 1.2rem;
        background:transparent;
        border:1px solid white;
        color:white;
        
        &::placeholder {
            font-size: 1.2rem;
            color:rgba(white, 0.3);
            padding-left:10px;
        }
    }

    .close-btn {
        @extend .close-btn-styles
    }

}

//hide
.hidden{
    display:none !important;
}