//grid styles

#images-container {
    display:grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(55, 70.588px);
    /* IE SUPPORT */
    display: -ms-grid;
    -ms-grid-columns: (1fr)[17];
    -ms-grid-rows: (70.588px)[55];
    
    //grid adjustments for smaller screens:
    
    @include break (401px, 900px)  {
        grid-template-rows: repeat(55, 50px);
        -ms-grid-rows: (50px)[55];
    }
    
    @include small  {
        grid-template-rows: repeat(50, 40px);
        -ms-grid-rows: (40px)[50];
    }
}


//grid coordinates list pattern of info per pic:

// ( grid-column-start,
//   grid-column-end,
//   grid-row-start,
//   -ms-column,
//   -ms-column-span,
//   -ms-row,
//   -ms-row-span,
//   z-index )



$gridCoordinates: (
    (2, 12, 1, 2, 10, 1, 2, 2),     //pic1
    (13, 17, 21, 13, 5, 21, 6, 1),  //pic2
    (11, 17, 2, 11, 6, 2, 3, 2),    //pic3
    (7, 13, 5, 7, 6, 5, 4, 1),      //pic4
    (1, 7, 43, 1, 6, 43, 4, 2),     //pic5
    (2, 6, 12, 2, 4, 12, 6, 1),     //pic6
    (7, 14, 13, 7, 7, 13, 3, 2),    //pic7
    (10, 14, 16, 10, 4, 16, 7, 1),  //pic8
    (12, 18, 39, 12, 6, 39, 4, 2),  //pic9
    (9, 16, 48, 9, 7, 48, 5, 2),    //pic10
    (6, 13, 27, 6, 7, 27, 4, 2),    //pic11
    (3, 13, 10, 3, 10, 10, 3, 1 ),  //pic12
    (13, 18, 13, 13, 5, 13, 7, 1),  //pic13
    (12, 17, 8, 12, 5, 8, 4, 2),    //pic14
    (1, 6, 4, 1, 5, 4, 5, 0),       //pic15
    (1, 8, 19, 1, 7, 19, 4, 3),     //pic16
    (1, 13, 38, 1, 12, 38, 4, 2),   //pic17
    (3, 13, 31, 3, 10, 31, 5, 4),   //pic18
    (12, 16, 34, 12, 4, 34, 5, 2),  //pic19
    (14, 18, 27, 14, 4, 27, 4, 2),  //pic20
    (6, 17, 43, 6, 11, 43, 5, 2),   //pic21
    (1, 6, 25, 1, 5, 25, 7, 3),     //pic22
    (3, 8, 47, 3, 5, 47, 5, 2),     //pic23
    (5, 9, 17, 5, 4, 17, 3, 2),     //pic24
    (2, 12, 23, 2, 10, 23, 3, 2)    //pic25
);

//loop for applying grid coordinates to every pic using a mixin:

@each $coordinate in $gridCoordinates {
    #image#{index($gridCoordinates, $coordinate)} {
        @include grid($coordinate)    
    }
}

