.layer {
    width: 100vw;
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    background: rgba(black, 0.8);
    z-index: 30;

    @include flex-box(display, flex);
    @include flex-box(justify-content, center);
    @include flex-box(align-items, center);

    transition: width 0.5s ease-out, height 0.5s ease-out;

    .close-btn {
        @extend .close-btn-styles
    }
   
}

.layer-closed {
    width:0vw;
    height:0vh;

    transition: width 0.5s ease-out, height 0.5s ease-out;
}

