.layer {
    width: 100vw;
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    background: rgba(white, 0.9);
    z-index: 30;

    @include flex-box(display, flex);
    @include flex-box(justify-content, center);
    @include flex-box(align-items, center);

    transition: width 0.5s ease-out, height 0.5s ease-out;

    .large-image {
        max-width: 100%;
        max-height: 100%;
    }

    .close-btn {
        @extend .close-btn-styles;
        &:hover {
            background: black;
            color:white;
        }
    }

    .arrow {
        font-size: 2rem;
        transition: background 0.2s linear;
        width:40px;
        height:40px;
        border-radius: 100%;
        text-align: center;

        @include small {
            background: black;
            i {
                color:white;
            }
        }
        
        @include flex-box(display, flex);
        @include flex-box(justify-content, space-around);
        @include flex-box(align-items, center);
        
        &:hover{
            cursor: pointer;
            background: black;
            i{
                color:white;
            }
            @include small {
                background:white;
                i{
                    color:black;
                }
            }
        }
        
    }

    .right-arrow {
        @extend .arrow;
        position:fixed;
        right:100px;
        @include break(200px, 1050px){
            right:10px;
        }
        i {
            margin-left:2px;
        }
        
    }
    
    .left-arrow {
        @extend .arrow;
        position:fixed;
        left:100px;
        @include break(200px, 1050px){
            left:10px;
        }
        i{
            margin-right:3px;
        }
    }
   
}


