html {
    font-family: $family;
    font-size: 15px;
}

body {
    @include flex-box(display, flex);
    @include flex-box(flex-direction, column);
    @include flex-box(align-items, center);
}

#images-container {
    img {
        width: 100%;
    }
}

//close-btn styles
.close-btn-styles {
    width: 40px;
    height:40px;

    @include small {
        width:30px;
        height:30px;
    }

    position:fixed;
    top:20px;
    right:20px;

    @include flex-box(display, flex);
    @include flex-box(justify-content, center);
    @include flex-box(align-items, center);

    font-size:1.8rem;
    @include small { font-size: 1.4rem; }
    
    font-family: sans-serif;
    background: rgba(white, 0.5);
    transition:background 0.2s linear;
    border-radius: 100%;
    
    &:hover {
        cursor: pointer;
        background: rgba(white, 1);
    }
}